@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
html {
	font–family: "Nanum Gothic" ;
}
/*  
body {
max-width: 500px;
margin: 0 auto;
}

input {
padding-top: 30px;
width: 500px;
height: 60px;
font-size: 40px;
border: 0;
}

input:focus {
outline: none;
}

*/
.item:hover {
	text-decoration: line-through;
	color: #FF0000;
}
